# Données lourdes
Data/
Data_source/
Data/Data_cleaned/application_test_final.csv
Metrics/

# Notebooks
*.ipynb

# Environnements locaux
my_env_p8/
venv/
.env

# Logs
logs/
*.log

# Cache Python
__pycache__/
*.pyc

# Git
.git/
.gitignore
